<html>
	<head>
		<script src="../../../static/javascript/jquery-1.11.3.min.js"></script>

		<link rel="stylesheet" href="../../../static/css/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../../static/css/bootstrap/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="../../../static/css/bootstrap/js/bootstrap.min.js"></script>

		<link rel="stylesheet" href="../../../static/css/style.css" type="text/css" media="screen"/>
		<script type="text/javascript">
			var redipsURL = '../../../static/javascript/drag-and-drop-table-row/';
		</script>
		
		<script type="text/javascript" src="../../../static/javascript/redips-drag-min.js"></script>
		<script type="text/javascript" src="../../../static/javascript/script.js"></script>
	</head>
	<body onload="REDIPS.drag.init()" >
		
			<div id="right"  width="100%">
				<div id="redips-drag" width="100%">
					<table id="table2" name="table2" border="1" width="100%" >
						<thead>
							<tr>
								<th class="redips-only last" colspan="31" rowspan="" headers="" scope="col">CONTROL DE PROGRESO DE TRABAJO</th>
								
								
								<th class="redips-only last" colspan="2" rowspan="" headers="" scope="">Detenidos</th>
							</tr>
							<tr>
								<th class="redips-only last" colspan="" rowspan="2" headers="" scope=""> Tecnicos</th>
								<th class="redips-only last" colspan="" rowspan="2" headers="" scope="">ID</th>
								<th class="redips-only last" colspan="" rowspan="2" headers="" scope="">Status Trabajo</th>
								<th class="redips-only last" colspan="2" rowspan="" headers="" scope="">8</th>
								<th class="redips-only last" colspan="2" rowspan="" headers="" scope="">9</th>
								<th class="redips-only last" colspan="2" rowspan="" headers="" scope="">10</th>
								<th class="redips-only last" colspan="2" rowspan="" headers="" scope="">11</th>
								<th class="redips-only last" colspan="2" rowspan="" headers="" scope="">12</th>
								<th class="redips-only last" colspan="2" rowspan="" headers="" scope="">13</th>
								<th class="redips-only last" colspan="2" rowspan="" headers="" scope="">14</th>
								<th class="redips-only last" colspan="2" rowspan="" headers="" scope="">15</th>
								<th class="redips-only last" colspan="2" rowspan="" headers="" scope="">16</th>
								<th class="redips-only last" colspan="2" rowspan="" headers="" scope="">17</th>
								<th class="redips-only last" colspan="2" rowspan="" headers="" scope="">18</th>
								<th class="redips-only last" colspan="2" rowspan="" headers="" scope="">19</th>
								<th class="redips-only last" colspan="" rowspan="2" headers="" scope="">Lavado</th>
								<th class="redips-only last" colspan="" rowspan="2" headers="" scope="">C.C</th>
								<th class="redips-only last" colspan="" rowspan="2" headers="" scope="">TermSS</th>
								<th class="redips-only last" colspan="" rowspan="2" headers="" scope="">T.O.T</th>
								<th class="redips-only last" colspan="" rowspan="2" headers="" scope="">Partes</th>
								<th class="redips-only last" colspan="" rowspan="2" headers="" scope="">AUT</th>
							</tr>
							<tr>
								<th class="redips-only last" colspan="" rowspan="" headers="" scope="">00</th>
								<th class="redips-only last" colspan="" rowspan="" headers="" scope="">30</th>
								<th class="redips-only last" colspan="" rowspan="" headers="" scope="">00</th>

								<th class="redips-only last" colspan="" rowspan="" headers="" scope="">30</th>
								<th class="redips-only last" colspan="" rowspan="" headers="" scope="">00</th>
								<th class="redips-only last" colspan="" rowspan="" headers="" scope="">30</th>
								<th class="redips-only last" colspan="" rowspan="" headers="" scope="">00</th>
								<th class="redips-only last" colspan="" rowspan="" headers="" scope="">30</th>
								<th class="redips-only last" colspan="" rowspan="" headers="" scope="">00</th>
								<th class="redips-only last" colspan="" rowspan="" headers="" scope="">30</th>
								<th class="redips-only last" colspan="" rowspan="" headers="" scope="">00</th>
								<th class="redips-only last" colspan="" rowspan="" headers="" scope="">30</th>
								<th class="redips-only last" colspan="" rowspan="" headers="" scope="">00</th>
								<th class="redips-only last" colspan="" rowspan="" headers="" scope="">30</th>
								<th class="redips-only last" colspan="" rowspan="" headers="" scope="">00</th>

								<th class="redips-only last" colspan="" rowspan="" headers="" scope="">30</th>
								<th class="redips-only last" colspan="" rowspan="" headers="" scope="">00</th>
								<th class="redips-only last" colspan="" rowspan="" headers="" scope="">30</th>
								<th class="redips-only last" colspan="" rowspan="" headers="" scope="">00</th>
								<th class="redips-only last" colspan="" rowspan="" headers="" scope="">30</th>
								<th class="redips-only last" colspan="" rowspan="" headers="" scope="">00</th>
								<th class="redips-only last" colspan="" rowspan="" headers="" scope="">30</th>
								<th class="redips-only last" colspan="" rowspan="" headers="" scope="">00</th>
								<th class="redips-only last" colspan="" rowspan="" headers="" scope="">30</th>

							
							

							</tr>
						</thead>
						
						<tbody>
						
						<tr class="r1" >
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						
							<td colspan="" rowspan="" headers="">
							
							</td>

							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							
						</tr>
						<tr class="rd">
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>

							</td>

							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							
							
							
						</tr>
						<tr class="r1" >
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>

							</td>
						
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							
							
						</tr>
					
					
					</tbody>
						
					</table>
					<div id="left" name="left">
						<table id="table1" name="table1">
							<thead>
								<tr>
									<th class="redips-only last" colspan="5" rowspan="" headers="" scope="">
										Elementos de arrastre
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td colspan="" rowspan="" headers="">
										<div class="redips-drag redips-clone blue" id="blue" name="blue">
											Azul
										</div>
										
									</td>
									<td class="redisp-dark" colspan="" rowspan="" headers="">
										<div class="redips-drag redips-clone white" id="white" name="white">
											Blanco
										</div>
										
									</td>
									<td class="dark" colspan="" rowspan="" headers="">
										<div  class="redips-drag redips-clone yellow" id="yellow" name="yellow" >
										Amarrillo

										</div>
									</td>
									<td class="dark" colspan="" rowspan="" headers="">
										<div  class="redips-drag redips-clone birthday" id="birthday" name="birthday" >
											<img src="../../../static/images/admin/birthday.jpg" alt="" height="40px" width="40px">

										</div>
									</td>
									<td class="dark" colspan="" rowspan="" headers="">
										<div  class="redips-drag redips-clone food" id="food" name="food" >
											<img src="../../../static/images/admin/comida.jpg" alt="" height="40px" width="40px">

										</div>
									</td>
									<td class="redips-trash" colspan="" rowspan="" headers="">
										<div  id="Trash">
											<img src="../../../static/images/admin/trash.png" alt="" height="40px" width="40px">
										</div>
										
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
			</div>

		
	</body>

</html>
