.bootstrap-container *,    
.bootstrap-container body, 
.bootstrap-container td, 
.bootstrap-container tr, 
.bootstrap-container div, 
.bootstrap-container p, 
.bootstrap-container form, 
.bootstrap-container input, 
.bootstrap-container select, 
.bootstrap-container textarea, 
.bootstrap-container font {
font-family: 'Open Sans', sans-serif !important; 
}
.body { font-family: 'Open Sans', sans-serif;}
.modimage {
    height: 100px;
    border: 0px solid #ddd;
}

.alignClass{
	margin-right: 0px; 
    margin-left: 0px; 
}