table{
	background-color:#BBBCC0;
	color:#000000; 
	
}

.content{
	 background-color:#1564FF;
}
.tablehead thead th{
	background-color:#FFBE2F;
}
.cellstitle {
	background-color:#FFBE2F;

}

#table1 th{
	background-color: #FFB615;
}
