table{
	background-color:#BBBCC0;
	color:#000000;
	table-layout:fixed;
	overflow: hidden;
	word-wrap: break-word;
	font-size: 8pt;
}

.tablehead{
	table-layout:fixed;
}

.content{
	 background-color:#ececec;
}
.tablehead thead th{
	background-color:#FFBE2F;
}
.cellstitle {
	background-color:#FFBE2F;
	font-size: 0.85em;
}

.c1{
	font-size: 10pt;
}


#table2 th{
	background-color: #FFB615;
}

.cellstitle {
    background-color: #FFBE2F;
    font-size: 0.85em;
}


body{
	background-color:#ececec;
}
