table{
	background-color:#fff;
	color:#000000;
	table-layout:fixed;
	overflow: hidden;
	word-wrap: break-word;
	font-size: 8pt;
}

.tablehead{
	table-layout:fixed;
}

.content{
	 background-color:#1564FF;
}
.tablehead thead th{
	background-color:#FFBE2F;
}
.cellstitle {
	background-color:#FFBE2F;
	font-size: 10pt;
}

.c1{
	font-size: 10pt;
}


.cellstitle {
    background-color: #FFBE2F;
    font-size: 0.85em;
}
